body {
    font-family: "Advent Pro", Advent Pro, sans-serif;
    font-size: 20px;
    background-color: #fcf6f0;
    color: #361D2E;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 4px 10px;
}

.logo {

}

.contact a, contact a:visited {
    margin-bottom: 50px;
    text-align: end;
    text-decoration: none;
    color: black;
}

nav ul {
    margin-top: -5px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

nav li {
    list-style: none;
    color: #361D2E;
    margin: 0;
    flex: 1;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #361D2E;
}

a, nav a, a:visited {
    width:100%;
    text-decoration:none;
    padding: 8px 0px;
    color: black;
}

a:hover, nav a:hover, a.active {
    color: #86A397;
}

.head {
    text-align: center;
}

h3 {
    text-align: center;
}

h2 {
    text-decoration: none;
}

.signup {
    align-content: center;
    min-width: 250px;
    min-height: 300px;
}

.sphoto {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.featured-area {
    display: flex;
    flex-wrap: wrap;
}

.featured {
    min-width: 450px;
    min-height: 520px;
    margin: 0 86px 50px 86px;
}

.product-area {
    display: flex;
    flex-wrap: wrap;
}

.product {
    min-width: 450px;
    min-height: 520px;
    margin: 0 86px 50px 86px;
}

.photo-section {
    border: 1.5px solid #CBC0AD;
    min-width: 450px;
    min-height: 450px;
    position: relative;
}

.photo {
    align-content: center;
    width: 450px;
    height: 450px;
    position: absolute;
}

.info {
    text-align: center;
    margin-top: 7px;
}

.des {
    color: #807460;
    text-align: center;
    margin-top: 7px;
}

.slider {
    text-align: center;
}

footer {
    min-width: 350px;
    min-height: 275px;
    border-top: 1px solid black;
    text-align: center;
}
